// Use normalize.css to reboot user-agent styles
@import './normalize';

@import './sizes';

*,
*::before,
*::after {
  box-sizing: border-box;
}

.global-font {
  color: $global-font-color;
  font: $global-font;
}

html,
body {
  height: 100%;
}

body {
  background-color: $global-background-color;
  @extend .global-font;
}

.at-label {
  flex-shrink: 0;
  margin: 0 $spacing-x $spacing-y 0;
}
